
<ul class="ul_main">
    {{#each this}}
    <li id={{id}} data-deadline={{deadline}} class="part_todo">
        <div class="nicknameContainer"><h2 class="nickname_card">{{nickName}}</h2></div>
        <h3 class="title_card">{{title}}</h3>
        <p class="description">{{description}}</p>
        <button class="delete">DELETE</button>
    </li>
    {{/each}}
</ul>